{% extends 'base.html' %}

{% block content %}

     <form action="" method="post">
  {% csrf_token %}
  {% if form.email.errors %}
    {{ form.email.errors }}
  {% endif %}
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    {{ form.email }}
    <small id="emailHelp" class="form-text text-muted">Enter an email address so that we can send you the link.</small>
  </div>
    <input type="submit" class="btn btn-primary btn-lg" value="submit">
  </form>

{% endblock content %}