{% load static %}

<div class="container">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'grade:index' %}"><span class="text-info btn btn-sm btn-dark font-weight-bold">Home</span></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
        {% if user.is_authenticated and user.is_staff %}
              </li>
         <li class="nav-item active">
        <a class="nav-link text-primary font-weight-bold" href="{% url 'grade:master-doc' %}">New Classroom & Results</a>
      </li>
              <li class="nav-item active">
        <a class="nav-link text-primary font-weight-bold" onclick="poping()" href="{% url 'grade:desolve-all' %}">End Year</a>
              <script src="{% static 'js/master.js'  %}"></script>
      </li>

        {% else %}


          <li class="nav-item active">
        <a class="nav-link text-primary font-weight-bold" href="{% url 'grade:normal-result' %}">Upload Results<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link text-primary font-weight-bold" href="{% url 'grade:assign' %}">Assignment/Announcement</a>
      </li>
        <li class="nav-item active">
        <a class="nav-link text-primary font-weight-bold" href="{% url 'grade:students' %}">Students</a>
        </li>
             <li class="nav-item active">
        <a class="nav-link text-primary font-weight-bold" href="{% url 'grade:results-case' %}">Results</a>
        </li>
        {% endif %}
    <li class="nav-item active">
        <a class="nav-link text-danger font-weight-bold" href="{% url 'grade:change_password' %}">*password</a>
      </li>

     <li class="nav-item active">
        <a class="nav-link text-secondary font-weight-bold" href="{% url 'logout' %}">Logout</a>
        </li>


    </ul>
  </div>
</nav>
</div>
