{% extends 'grade/base_grade.html' %}
{% block content %}
    <nav aria-label="breadcrumb">

</nav>
    <div class="row">
    <div class="container">

        <div class="card text-center">
  <div class="card-header">
    <a class="text-danger font-weight-bold" href="{% url 'grade:change_password' %}">Change Password</a>

  </div>
            {% load crispy_forms_tags %}
 <hr class="mt-0 mb-4">
    <form method="post" enctype="multipart/form-data" class="container">
    {% csrf_token %}
    {{ form|crispy }}

    <input type="submit" class="btn btn-success btn-block" value="Update info">
    </form>

  <div class="card-footer text-muted">
  </div>
</div>

    </div>
    </div>
    <hr class="mt-0 mb-4">


{% endblock content %}






