{% extends 'grade/base_grade.html' %}
{% block content %}

    <div class="row">
    <div class="container">
        {% if students %}
        <div class="list-group">
        <li href="{% url 'grade:assign-list' %}" class="h4 text-primary list-group-item list-group-item-action">List of students registered for:
            <span class="badge badge-secondary text-light">{{ user }}</span>

            {% for x in students %}
  <li href="" class="list-group-item list-group-item-action list-group-item-light text-dark">{{ x.fullname }}

  </li>

    {% endfor %}
  </div>
  {% else %}
    <p>There are no registered students yet.</p>
  {% endif %}
    </div>

    </div>
    <hr class="mt-0 mb-4">

{% endblock content %}