{% extends 'student/base.html' %}
{% block content %}
    <nav aria-label="breadcrumb">
  <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'student:assigns' %}">List assignment</a></li>

  </ol>
</nav>
    <div class="container row">
    <div class="container mx-auto">

        <div class="card text-center">
  <div class="card-header">
  </div>
            {% load crispy_forms_tags %}
 <hr class="mt-0 mb-4">
  <form method="post">
  {% csrf_token %}
  {{ form|crispy }}
  <button class="btn btn-success btn-block" type="submit">Save changes</button>
</form>

  <div class="card-footer text-muted">
  </div>
</div>

    </div>
    </div>
    <hr class="mt-0 mb-4">


{% endblock content %}






