{% extends 'base.html' %}
{% block title %}Welcome {{ user.first_name }}{% endblock %}
{% block nav_content %}

    {% include 'student/nav_student.html' %}
{% endblock nav_content %}
{% block content %}


    <div class="container">
    <p></p>
        {% if messages %}
        {% for message in messages %}
            {{ message|safe }}
        {% endfor %}
    {% else %}
    <p class="h4">Welcome <span class="badge badge-light text-primary">{{ user.first_name }}</span> </p>
        <p class="h5"> You can perform various student related activities in here</p>
    </div>
    {% endif %}
{% endblock content %}