{% extends 'student/base.html' %}

{% block title %}Student Information{% endblock %}
{% block content %}
    <nav aria-label="breadcrumb">

</nav>
    <div class="row">
    <div class="container">

        <div class="card text-center">
  <div class="card-header">
    <h5>Students Information</h5>
  </div>

             <table class="table table-bordered table-responsive">
          <thead>
    <tr>

      <th scope="col">First Name</th>
        <td>{{ st_user.first_name }}</td>





    </tr>
  </thead>
            <tbody>
<tr>
                <th scope="col">Middle Name</th>
                <td>{{ st_user.middle_name }}</td>



</tr>
            <tr>
                 <th scope="col">Last Name</th>
                <td>{{ st_user.last_name }}</td>
            </tr>
            <tr>
                 <th scope="col">Username</th>
                <td>{{ st_user.username }}</td>
            </tr>

            </tbody>
        </table>




  <div class="card-footer text-muted text-info">
      Consult Your Teacher for any changes!
  </div>
</div>

    </div>
    </div>
    <hr class="mt-0 mb-4">


{% endblock content %}






