{% extends 'grade/base_grade.html' %}
{% block content %}
    <nav aria-label="breadcrumb">
  <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'grade:assign-list' %}">List assignment</a></li>
    <li class="breadcrumb-item"><a href="{% url 'grade:assign' %}">Create new assignment</a></li>
  </ol>
</nav>
    <div class="row">
    <div class="container mx-auto">

        <div class="card text-center">
  <div class="card-header">
    {{assign_detail.title}}
  </div>
  <div class="card-body">
    <h5 class="card-title"></h5>
    <p class="card-text">{{ assign_detail.description }}</p>
    <a href="{% url 'grade:assign-update' assign_detail.pk %}" class="btn btn-secondary">Update Assignment </a>
    <p class="d-block d-sm-none d-none d-sm-block d-md-none"></p>
      <a href="{% url 'grade:assign-delete' assign_detail.pk %}" class="btn btn-danger">Delete Assignment</a>
  </div>
  <div class="card-footer text-muted">
    Assignment uploaded on {{ assign_detail.created }}  {% if assign_detail.file %}
           file :
      <a class="btn btn-info" href="{% url 'object' assign_detail.pk %}">Download</a>
        {% endif %}
  </div>
</div>

    </div>
    </div>
    <hr class="mt-0 mb-4">


{% endblock content %}






