body{
    background: url("https://burhanischools.sc.tz/images/site/bg14.jpeg") no-repeat fixed top center;
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    justify-content: space-around;
}

.container-1 {
    border: 1px solid black;
    width: 75%;
    margin: 0 auto;
    text-align: center;
}


.flex-box-container-1{
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 10px;
    justify-content: space-evenly;

}

.center-things{
    display: flex;
    justify-items: center;
    align-items: center;
}
