<!DOCTYPE html>
{% load staticfiles %}
{% load static %}



<html lang="en">
<head>
    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sticky-footer-navbar/">
    <link rel="stylesheet" href="{% static 'master.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"><meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="{% static 'img/burhani (1).resized.png' %}" type="image/x-icon">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <title></title>
</head>



<body>

<div class="container" role="main">
<hr class="mt-0 mb-4">
    <div class="row justify-content-md-center">


            <a class="col-md-4 mx-auto text-center" href="{% url 'home' %}"><img src="{% static 'img/tbes.png' %}"></a>
            <div class="col-md-4 mx-auto">
                <h2 class="font-weight-bold text-center  font-header" style="font-family: 'Old English'; color: #154360;">Tanga Bohra Education Society</h2>
                <h2 class="font-weight-bold text-center " style="font-family: 'Old English'; color: #154360;">Burhani Schools</h2>
            </div>
            <a class="col-md-4 mx-auto text-center" href="{% url 'home' %}"><img src="{% static 'img/burhani (1).resized.png' %}" width="153" height="148"></a>


    </div>



        <div class="justify-content-md-center mx-auto col-md-10">
            <div class="">
                <div class="jumbotron jumbotron-fluid">
                {% block nav_content %}{% endblock nav_content %}

                    <div class="">
                        {% block content %}

                        {% endblock content %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="footer">
      <div class="container">
        <span class="text-muted">For any enquiry or suggestions visit <a href="https://burhanischools.sc.tz/">www.burhanischools.sc.tz</a></span>
      </div>
    </footer>
</body>



<!-- Compiled and minified JavaScript -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% block graph %}
{% endblock %}
</html>