<!DOCTYPE html>
{% load staticfiles %}
{% load static %}



<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'master.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"><meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title></title>
</head>



<body>

<div class="container">
<hr class="mt-0 mb-4">
    <div class="row">
    <div class="col-10 mx-auto">
        <a href="{% url 'home' %}" class="row">
            <img src="{% static 'img/tbes.png' %}" class="col-4 mx-auto" width="80" height="140">
            <div class="col-4 mx-auto">
                <p></p>
                <p class="h5 text-center text-primary">BOHRA EDUCATION SOCIETY</p>
                <p class="h5 text-center text-primary">BURHANI SCHOOLS</p>
            </div>
            <img src="{% static 'img/burhani.png' %}" class="col-4 mx-auto" width="80" height="140">
        </a>
    </div>

{#        <div class="container col-md-10 col-10 mx-auto d-none d-lg-block">#}
{#            <a href="{% url 'home' %}" class="h1 mt-2 hidden-sm"><img src="{% static 'img/tbes.png' %}" width="180" height="140">#}
{#                <span class="h5 mx-auto">#}
{#                    </span>#}
{#                <img class="float-right" src="{% static 'img/burhani.png' %}" width="180" height="140">#}
{#                <hr class="mt-0 mb-4">#}
{##}
{#            </a>#}
{##}
{#        </div>#}
        <div class="container mx-auto col-lg-9">
            <div class="">
                <div class="jumbotron jumbotron-fluid">
                {% block nav_content %}{% endblock nav_content %}

                    <div class="">
                        {% block content %}

                        {% endblock content %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>



<!-- Compiled and minified JavaScript -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</html>