{% extends 'student/base.html' %}
{% block content %}

    <div class="row">
    <div class="container">
        {% if assignments %}
        <div class="list-group">
        <a href="{% url 'student:assigns' %}" class="list-group-item list-group-item-action">List of uploaded assignments/announcement</a>
            {% for x in assignments %}
  <a href="{% url 'student:assign-detail' x.pk %}" class="list-group-item list-group-item-action list-group-item-primary">{{ x.title }}
  <p class="h6 text-dark">{{ x.desc }}</p>
  </a>

    {% endfor %}
  </div>
  {% else %}
    <p>There are no uploaded assignments/announcements yet.</p>
  {% endif %}
    </div>

    </div>
    <hr class="mt-0 mb-4">


{% endblock content %}







